src/components/unloading/unloading.pug
.unloading
    .unloading-header 
        h2 Браво!
        h5 Вы получаете возможность скачать файлы для контроля и планирования своего бюджета, а так же подробную инструкцию к ним!
        div Что бы скачать файл кликните на его название или картинку рядом.
    .unloading-content
        .unloading-content-conteiner.noSelection 
            a(href="files/Таблица для заполнения._Бюджет 365 (полная).xlsx" download="" title="Бюджет365") Бюджет365 (полный)
            a(href="files/Таблица для заполнения._Бюджет 365 (полная).xlsx" download="" title="Бюджет365")
                img( class="unloading__img", src="img/unloadingPage/365.jpg", alt="Бюджет 365")
        .unloading-content-conteiner.noSelection 
            a(href="files/Практик.pdf" download="" title="Курс ПРАКТИК с инструкцией к Бюджету365") Курс ПРАКТИК с инструкцией к Бюджету365
            a(href="files/Практик.pdf" download="" title="Курс ПРАКТИК с инструкцией к Бюджету365")
                img( class="unloading__img", src="img/unloadingPage/Инструкция.jpg", alt="Курс ПРАКТИК с инструкцией к Бюджету365")
        .unloading-content-conteiner.noSelection 
            a(href="files/Ежедневник учета доходов и расходов. Порядок в финансах.pdf" download="" title="Ежедневник учета доходов и расходов") Ежедневник учета доходов и расходов
            a(href="files/Ежедневник учета доходов и расходов. Порядок в финансах.pdf" download="" title="Ежедневник учета доходов и расходов")
                img( class="unloading__img", src="img/unloadingPage/Ежедневник.jpg", alt="Ежедневник учета доходов и расходов")
        .unloading-content-conteiner.unloading-content-telegram.noSelection  
            h4 Заходи в наш закрытый чат
            div.unloading-content-conteiner__wrapper
                button.unloading-content-conteiner__button.noSelection
                    a(href="https://t.me/+tGTSIby2Jtw3NzFi" target="_blank" rel="nofollow noopener noreferrer")  Телеграм

dist/unloading.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Финансы в дело</title>
    <link rel="stylesheet" href="css/style.min.css?_v=20221114150033">
  </head>
  <body> 
    <div class="wrapper">
      <div class="general">
        <div class="container">
          <header class="header">
            <div class="container">
              <div class="header__inner">
                <div class="header-logo noSelection"><img src="img/logo/LogoFvD.png" alt="Логотип"></div>
                <div class="header-nav"><a href="https://t.me/tolstosymRU" target="_blank" rel="nofollow noopener noreferrer"><img src="img/icons/telegram2.png" alt="Телеграм">
                    <div class="header-nav__wrapper">
                      <div>Подпишись на</div>
                      <div> <b>@tolstosymRU</b></div>
                    </div></a></div>
              </div>
            </div>
          </header>
          <main class="main">
            <section class="solidBack">
              <div class="unloading">
                <div class="unloading-header"> 
                  <h2>Браво!</h2>
                  <h5>Вы получаете возможность скачать файлы для контроля и планирования своего бюджета, а так же подробную инструкцию к ним!</h5>
                  <div>Что бы скачать файл кликните на его название или картинку рядом.</div>
                </div>
                <div class="unloading-content">
                  <div class="unloading-content-conteiner noSelection"> <a href="files/Таблица для заполнения._Бюджет 365 (полная).xlsx" download="" title="Бюджет365">Бюджет365 (полный)</a><a href="files/Таблица для заполнения._Бюджет 365 (полная).xlsx" download="" title="Бюджет365"><img class="unloading__img" src="img/unloadingPage/365.jpg" alt="Бюджет 365"></a></div>
                  <div class="unloading-content-conteiner noSelection"> <a href="files/Практик.pdf" download="" title="Курс ПРАКТИК с инструкцией к Бюджету365">Курс ПРАКТИК с инструкцией к Бюджету365</a><a href="files/Практик.pdf" download="" title="Курс ПРАКТИК с инструкцией к Бюджету365"><img class="unloading__img" src="img/unloadingPage/Инструкция.jpg" alt="Курс ПРАКТИК с инструкцией к Бюджету365"></a></div>
                  <div class="unloading-content-conteiner noSelection"> <a href="files/Ежедневник учета доходов и расходов. Порядок в финансах.pdf" download="" title="Ежедневник учета доходов и расходов">Ежедневник учета доходов и расходов</a><a href="files/Ежедневник учета доходов и расходов. Порядок в финансах.pdf" download="" title="Ежедневник учета доходов и расходов"><img class="unloading__img" src="img/unloadingPage/Ежедневник.jpg" alt="Ежедневник учета доходов и расходов"></a></div>
                  <div class="unloading-content-conteiner unloading-content-telegram noSelection"> 
                    <h4>Заходи в наш закрытый чат</h4>
                    <div class="unloading-content-conteiner__wrapper">
                      <button class="unloading-content-conteiner__button noSelection"><a href="https://t.me/+tGTSIby2Jtw3NzFi" target="_blank" rel="nofollow noopener noreferrer"> Телеграм</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
    <script src="js/app.min.js?_v=20221114150033"></script>
  </body>
</html>
